html, body {
    height: 100%;
}

form {
    margin-bottom: 1em;
}

body #wrap .navbar-inverse {
    margin-bottom: 40px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    padding-bottom: 100px;
}

header .text-center {
    margin-top: 15px;
    margin-bottom: 15px;
}

header h1 .navbar-brand {
    float: none;
    height: inherit;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
}

.footer {
    height: 40px;
    background-color: #d7d7d7;
}

.footer p {
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    color: #7d7d7d;
}

/* Page specs */
/* manager */
#connectinfo {
    margin-bottom: 20px;
}
