<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Default template</title>
		<link rel="stylesheet" href="../style/default.css">
		<!-- <script src="script.js"></script> -->
	</head>
	<body>
		<form id="main-login" method="post" action="login.php" class="login">
			<p>
				<label for="login">Username:</label>
				<input type="text" name="login" id="login" placeholder="Jean Mouloude"><!-- Faudrait que le place holder disparraisse au clic -->
			</p>

				<p>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" placeholder="MotDePasse">
				</p>

				<p class="login-submit">
					<button type="submit" class="login-button">Login</button>
				</p>
		</form>

		<footer class="about">
			<p class="about-author">
				Flavian Mary - Benoit Branchard - Ludovic Gravaud
			</p>
		</footer>
	</body>
</html>