<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Default template</title>
    <link rel="stylesheet" href="../style/default.css">
    <!-- <script src="script.js"></script> -->
    <script type="text/javascript" src="../script/jsSimpleDatePickr.js"></script>
	<script type="text/javascript" src="../script/jsSimpleDatePickrInit.js"></script>
</head>
<body>
<header>
    <h1 id="title">Planning Manager</h1>
</header>




<p>Date : <input type="text" value="" name="date2" id="champ_date2" size="12" maxlength="10"></p>
<div id="calendarMain2"></div>
<script type="text/javascript">
//<![CDATA[
calInit("calendarMain2", "Calendrier", "champ_date2", "jsCalendar", "day", "selectedDay");
//]]>
</script>





<section id="manager-section">
    <table>
        <tr>
            <th></th>
            <th>Lundi 13/10/14</th>
            <th>Mardi 14/10/14</th>
            <th>Mercredi 15/10/14</th>
            <th>Jeudi 16/10/14</th>
            <th>Vendredi 17/10/14</th>
            <th>Samedi 18/10/14</th>
        </tr>
        <tr>
            <td>8h</td>
            <td>java</td>
            <td>pyhton</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td>café</td>
        </tr>
        <tr>
            <td>9h</td>
            <td>java</td>
            <td>pyhton</td>
            <td></td>
            <td></td>
            <td></td>
            <td>café</td>
        </tr>
        <tr>
            <td>10h</td>
            <td>java</td>
            <td>pyhton</td>
            <td></td>
            <td></td>
            <td></td>
            <td>café</td>
        </tr>
        <tr>
            <td>11h</td>
            <td>java</td>
            <td>pyhton</td>
            <td></td>
            <td></td>
            <td></td>
            <td>repo</td>
        </tr>
        <tr>
            <td>12h</td>
            <td>repo</td>
            <td>repo</td>
            <td>repo</td>
            <td>repo</td>
            <td>repo</td>
            <td></td>
        </tr>
        <tr>
            <td>13h</td>
            <td>anglais</td>
            <td>café</td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14h</td>
            <td>anglais</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15h</td>
            <td>anglais</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>16h</td>
            <td>php</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>17h</td>
            <td>php</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>18h</td>
            <td>php</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>19h</td>
            <td></td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20h</td>
            <td>repo</td>
            <td></td>
            <td></td>
            <td>repo</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</section>
<footer>
    <p id="about-author">
        Flavian Mary - Benoit Branchard - Ludovic Gravaud
    </p>
</footer>
</body>
</html>
