<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Default template</title>
		<link rel="stylesheet" href="../style/default.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	</head>
	<body>
<!--
		<e?php
			$reponse = $laconection->query('SELECT DateD FROM Day natural join Hour natural join User where IdU=?');
			$reponse->execute(array($_GET['USER']));
			$donnees = $reponse->fetch();
			$lesDates = $donnees['DateD'];
		?>
-->
			<script type="text/javascript">
				$(function() {
					$( "#datepicker" ).datepicker({
						altField: "#datepicker",
						changeMonth: true,
						changeYear: true,
						closeText: 'Fermer',
						prevText: 'Précédent',
						nextText: 'Suivant',
						currentText: 'Aujourd\'hui',
						monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
						monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
						dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
						dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
						dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
						weekHeader: 'Sem.',
						dateFormat: 'yy-mm-dd',
						yearRange: "2014:2018",
						firstDay: 1,
						beforeShowDay: function(date){
							var c = "";
							var e = "Aucun évenement n'est prévu à cette date";
							var d = new Date(2014, 10, 20)
							if ((date >= d) && (date <= d)/* date in $lesDates*/) {
								c = "ui-event";
								e = "Des évenements sont prévus à cette date"
							}
							return [true,c,e];
						}
					});
				});
			</script>
		<header>
		<h1 id="title">Planning Manager</h1>
		</header>
<!--
		<e?php
		while ($donnees = $reponse->fetch())
		{
		?>
-->
			<p>Date: <input type="text" id="datepicker" size="30"></p>
<!--
		<e?php
		}
		$reponse->closeCursor(); // Termine le traitement de la requête
		?>
-->
		<p id="activity"> Activités : <select name="activity">
			<option value="java">Java</option>
			<option value="python">Python</option>
			<option value="anglais">Anglais</option>
			<option value="repos">Repos</option>
			<option value="cafe">Café</option>
			<option value="php">PHP</option>
		</select>
		</p>
		<table id="horaires">
			<tr>
				<td> 8h00 </br> 9h00 </td>
				<td> </br> Java </td>
			</tr>
			<tr>
				<td> 9h00 </br> 10h00 </td>
				<td> </br> Python </td>
			</tr>
			<tr>
				<td> 10h00 </br> 11h00 </td>
				<td> </br> Anglais </td>
			</tr>
			<tr>
				<td> 11h00 </br> 12h00 </td>
				<td> </br> Repos </td>
			</tr>
			<tr>
				<td> 12h00 </br> 13h00 </td>
				<td> </br> Café </td>
			</tr>
			<tr>
				<td> 13h00 </br> 14h00 </td>
				<td> </br> Repos </td>
			</tr>
			<tr>
				<td> 14h00 </br> 15h00 </td>
				<td> </br> PHP </td>
			</tr>
			<tr>
				<td> 15h00 </br> 16h00 </td>
				<td> </br> Java </td>
			</tr>
			<tr>
				<td> 16h00 </br> 17h00 </td>
				<td> </br> Repos </td>
			</tr>
			<tr>
				<td> 17h00 </br> 18h00 </td>
				<td> </br> Repos </td>
			</tr>
			<tr>
				<td> 18h00 </br> 19h00 </td>
				<td> </br> Repos </td>
			</tr>
			<tr>
				<td> 19h00 </br> 20h00 </td>
				<td> </br> Repos </td>
			</tr>
		</table>
	<footer>
	<p id="about-author">
	Flavian Mary - Benoit Branchard - Ludovic Graveaud
	</p>
	</footer>
	</body>
</html>
