<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Default template</title>
    <link rel="stylesheet" href="../style/default.css">
    <!-- <script src="script.js"></script> -->
    <script type="text/javascript" src="../script/jsSimpleDatePickr.js"></script>
	<script type="text/javascript" src="../script/jsSimpleDatePickrInit.js"></script>
</head>
<body>
<header>
    <h1 id="title">Planning Manager</h1>
</header>




<p id="date">Date : <input type="text" value="" name="date2" id="champ_date" size="12" maxlength="10"></p>
<div id="calendarMain2"></div>
<script type="text/javascript">
//<![CDATA[
calInit("calendarMain2", "Calendrier", "champ_date", "jsCalendar", "day", "selectedDay");
//]]>
</script>


<footer>
    <p id="about-author">
        Flavian Mary - Benoit Branchard - Ludovic Gravaud
    </p>
</footer>
</body>
</html>
